$brand-primary:             #3193c6;
$brand-secondary:           #40d7b9;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #FB6D69;

$input-bg:                  rgba(255, 255, 255, 0.3);
$input-border:              rgba(255, 255, 255, 0.3);
$input-color:               #fff;
$input-border-radius:            3px !default;
$input-border-radius-large:      5px !default;
$input-border-radius-small:      7px !default;

$body-bg:                   #fff;
$text-color:                #fff;

$font-family-serif:         'Roboto', sans-serif;
$font-family-sans-serif:    'Helvetica Neue', sans-serif;
$headings-font-family:      'Roboto Condensed', sans-serif;

$headings-font-weight:      400;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;



$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: $brand-secondary;

$btn-light-color: #fff;
$btn-light-bg: transparent;
$btn-light-border: #fff;


// Basics of a navbar
$navbar-default-color:             inherit;
$navbar-default-bg:                #fff;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 5%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         darken($navbar-default-link-color, 10%);
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       lighten($navbar-default-link-color, 10%);
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               #000;
$navbar-default-brand-hover-color:         #000;
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $brand-primary;
$navbar-default-toggle-border-color:       transparent;



$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             $brand-warning;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              $brand-danger;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);
