$animation-time:                0.5s;
$grid-gutter-width:             30px;
$item-margin:                  $grid-gutter-width / 3 * 2;

$brand-primary:             #3193c6;
$brand-secondary:           #40d7b9;
$brand-success:             #48B74A;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #FB6D69;
$semi-transparent-bg:       rgba(255,255,255,0.3);
$semi-transparent-bg-light: rgba(255,255,255,0.9);

$input-bg:                  rgba(255, 255, 255, 0.3);
$input-group-addon-bg:      rgba(255, 255, 255, 0.4);
$input-border:              rgba(255, 255, 255, 0.3);
$input-color:               #fff;
$input-border-radius:            3px;
$input-border-radius-large:      5px;
$input-border-radius-small:      7px;

$body-bg:                   #fff;
$text-color:                #fff;
$text-muted:                darken(#fff, 20%);

$font-family-serif:         'Roboto', sans-serif;
$font-family-sans-serif:    'Helvetica Neue', sans-serif;
$headings-font-family:      'Roboto Condensed', sans-serif;

$headings-font-weight:      400;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;



$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: $brand-secondary;

$btn-light-color: #fff;
$btn-light-bg: transparent;
$btn-light-border: #fff;



// Basics of a navbar
$navbar-margin-bottom:             $item-margin;

$navbar-default-color:             inherit;
$navbar-default-bg:                #fff;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 5%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         darken($navbar-default-link-color, 10%);
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       lighten($navbar-default-link-color, 10%);
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               #000;
$navbar-default-brand-hover-color:         #000;
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $brand-primary;
$navbar-default-toggle-border-color:       transparent;



$state-success-text:             $brand-success;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             $brand-warning;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              $brand-danger;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);


$hr-border:                   $input-border;




//== Modals
$modal-inner-padding:         15px;
$modal-title-padding:         15px;
$modal-title-line-height:     1;
$modal-content-bg:                             linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
// $modal-content-border-color:                   $modal-content-bg;
// $modal-content-fallback-border-color:          $modal-content-bg;
$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      0.9;
$modal-header-border-color:   #e5e5e5;
$modal-footer-border-color:   $modal-header-border-color;

$grid-gutter-width:         30px;


//== Dropdowns
$dropdown-bg:                    $semi-transparent-bg-light;
$dropdown-border:                transparent;
$dropdown-fallback-border:       transparent;
$dropdown-divider-bg:            #e5e5e5;
$dropdown-link-color:            #000;
$dropdown-link-hover-color:      #000;
$dropdown-link-hover-bg:         transparent;
$dropdown-link-active-color:     #000;
$dropdown-link-active-bg:        inherit;
$dropdown-link-disabled-color:   #ccc;


$modal-content-border-color:                   transparent;
$modal-content-fallback-border-color:          transparent;
$modal-backdrop-bg:                            transparent;
$modal-backdrop-opacity:                       .5 !default;
$modal-header-border-color:                    transparent;
$modal-footer-border-color:                    transparent;



$legend-color:                                 $text-color;
$legend-border-color:                          transparent;
