@font-face {
  font-family: 'pe-icon-set-weather';
  src: url("#{$weather-font-path}/pe-icon-set-weather.eot?nlruav");
  src: url("#{$weather-font-path}/pe-icon-set-weather.eot?nlruav#iefix") format("embedded-opentype"), url("#{$weather-font-path}/pe-icon-set-weather.ttf?nlruav") format("truetype"), url("#{$weather-font-path}/pe-icon-set-weather.woff?nlruav") format("woff"), url("#{$weather-font-path}/pe-icon-set-weather.svg?nlruav#pe-icon-set-weather") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iw {
  display: inline-block;
  font-family: 'pe-icon-set-weather';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iw-blizzard-f:before {
  content: "\e900";
}

.iw-blizzard:before {
  content: "\e901";
}

.iw-cloud-down-f:before {
  content: "\e902";
}

.iw-cloud-down:before {
  content: "\e903";
}

.iw-cloud-refresh-f:before {
  content: "\e904";
}

.iw-cloud-refresh:before {
  content: "\e905";
}

.iw-cloud-up-f:before {
  content: "\e906";
}

.iw-cloud-up:before {
  content: "\e907";
}

.iw-compass-e-f:before {
  content: "\e908";
}

.iw-compass-e:before {
  content: "\e909";
}

.iw-compass-f:before {
  content: "\e90a";
}

.iw-compass-n-f:before {
  content: "\e90b";
}

.iw-compass-n:before {
  content: "\e90c";
}

.iw-compass-s-f:before {
  content: "\e90d";
}

.iw-compass-s:before {
  content: "\e90e";
}

.iw-compass-w-f:before {
  content: "\e90f";
}

.iw-compass-w:before {
  content: "\e910";
}

.iw-compass:before {
  content: "\e911";
}

.iw-degree-celsius:before {
  content: "\e912";
}

.iw-degree-fahrenheit:before {
  content: "\e913";
}

.iw-drizzle-f:before {
  content: "\e914";
}

.iw-drizzle:before {
  content: "\e915";
}

.iw-drop-cloud-f:before {
  content: "\e916";
}

.iw-drop-cloud:before {
  content: "\e917";
}

.iw-drop-f:before {
  content: "\e918";
}

.iw-drop-percentage-f:before {
  content: "\e919";
}

.iw-drop-percentage:before {
  content: "\e91a";
}

.iw-drop:before {
  content: "\e91b";
}

.iw-drops-f:before {
  content: "\e91c";
}

.iw-drops:before {
  content: "\e91d";
}

.iw-eclipse-1-f:before {
  content: "\e91e";
}

.iw-eclipse-1:before {
  content: "\e91f";
}

.iw-eclipse-2-f:before {
  content: "\e920";
}

.iw-eclipse-2:before {
  content: "\e921";
}

.iw-eclipse-3-f:before {
  content: "\e922";
}

.iw-eclipse-3:before {
  content: "\e923";
}

.iw-eclipse-4-f:before {
  content: "\e924";
}

.iw-eclipse-4:before {
  content: "\e925";
}

.iw-fog-1-f:before {
  content: "\e926";
}

.iw-fog-1:before {
  content: "\e927";
}

.iw-fog-2-f:before {
  content: "\e928";
}

.iw-fog-2:before {
  content: "\e929";
}

.iw-fog-3-f:before {
  content: "\e92a";
}

.iw-fog-3:before {
  content: "\e92b";
}

.iw-fog-4-f:before {
  content: "\e92c";
}

.iw-fog-4:before {
  content: "\e92d";
}

.iw-full-moon-1-f:before {
  content: "\e92e";
}

.iw-full-moon-1:before {
  content: "\e92f";
}

.iw-full-moon-2-f:before {
  content: "\e930";
}

.iw-full-moon-2:before {
  content: "\e931";
}

.iw-full-moon-3-f:before {
  content: "\e932";
}

.iw-full-moon-3:before {
  content: "\e933";
}

.iw-hail-1-f:before {
  content: "\e934";
}

.iw-hail-1:before {
  content: "\e935";
}

.iw-hail-2-f:before {
  content: "\e936";
}

.iw-hail-2:before {
  content: "\e937";
}

.iw-hail-day-1-f:before {
  content: "\e938";
}

.iw-hail-day-1:before {
  content: "\e939";
}

.iw-hail-day-2-f:before {
  content: "\e93a";
}

.iw-hail-day-2:before {
  content: "\e93b";
}

.iw-hail-full-moon-1-f:before {
  content: "\e93c";
}

.iw-hail-full-moon-1:before {
  content: "\e93d";
}

.iw-hail-full-moon-2-f:before {
  content: "\e93e";
}

.iw-hail-full-moon-2:before {
  content: "\e93f";
}

.iw-hail-night-1-f:before {
  content: "\e940";
}

.iw-hail-night-1:before {
  content: "\e941";
}

.iw-hail-night-2-f:before {
  content: "\e942";
}

.iw-hail-night-2:before {
  content: "\e943";
}

.iw-heavy-hail-day-f:before {
  content: "\e944";
}

.iw-heavy-hail-day:before {
  content: "\e945";
}

.iw-heavy-hail-f:before {
  content: "\e946";
}

.iw-heavy-hail-full-moon-f:before {
  content: "\e947";
}

.iw-heavy-hail-full-moon:before {
  content: "\e948";
}

.iw-heavy-hail-night-f:before {
  content: "\e949";
}

.iw-heavy-hail-night:before {
  content: "\e94a";
}

.iw-heavy-hail:before {
  content: "\e94b";
}

.iw-heavy-rain-1-f:before {
  content: "\e94c";
}

.iw-heavy-rain-1:before {
  content: "\e94d";
}

.iw-heavy-rain-2-f:before {
  content: "\e94e";
}

.iw-heavy-rain-2:before {
  content: "\e94f";
}

.iw-heavy-rain-day-f:before {
  content: "\e950";
}

.iw-heavy-rain-day:before {
  content: "\e951";
}

.iw-heavy-rain-full-moon-f:before {
  content: "\e952";
}

.iw-heavy-rain-full-moon:before {
  content: "\e953";
}

.iw-heavy-rain-night-f:before {
  content: "\e954";
}

.iw-heavy-rain-night:before {
  content: "\e955";
}

.iw-mist:before {
  content: "\e956";
}

.iw-mix-rainfall-1-f:before {
  content: "\e957";
}

.iw-mix-rainfall-1:before {
  content: "\e958";
}

.iw-mix-rainfall-2-f:before {
  content: "\e959";
}

.iw-mix-rainfall-2:before {
  content: "\e95a";
}

.iw-moon-1-f:before {
  content: "\e95b";
}

.iw-moon-1:before {
  content: "\e95c";
}

.iw-moon-2-f:before {
  content: "\e95d";
}

.iw-moon-2:before {
  content: "\e95e";
}

.iw-moon-3-f:before {
  content: "\e95f";
}

.iw-moon-3:before {
  content: "\e960";
}

.iw-moon-4-f:before {
  content: "\e961";
}

.iw-moon-4:before {
  content: "\e962";
}

.iw-moon-first-quarter-f:before {
  content: "\e963";
}

.iw-moon-horizon-f:before {
  content: "\e964";
}

.iw-moon-horizon:before {
  content: "\e965";
}

.iw-moon-last-quarter-f:before {
  content: "\e966";
}

.iw-moon-sea-f:before {
  content: "\e967";
}

.iw-moon-sea:before {
  content: "\e968";
}

.iw-moon-waning-crescent-f:before {
  content: "\e969";
}

.iw-moon-waning-gibbous-f:before {
  content: "\e96a";
}

.iw-moon-waxing-crescent-f:before {
  content: "\e96b";
}

.iw-moon-waxing-gibbous-f:before {
  content: "\e96c";
}

.iw-mostly-cloudy-1-f:before {
  content: "\e96d";
}

.iw-mostly-cloudy-1:before {
  content: "\e96e";
}

.iw-mostly-cloudy-2-f:before {
  content: "\e96f";
}

.iw-mostly-cloudy-2:before {
  content: "\e970";
}

.iw-partly-cloudy-1-f:before {
  content: "\e971";
}

.iw-partly-cloudy-1:before {
  content: "\e972";
}

.iw-partly-cloudy-2-f:before {
  content: "\e973";
}

.iw-partly-cloudy-2:before {
  content: "\e974";
}

.iw-partly-cloudy-3-f:before {
  content: "\e975";
}

.iw-partly-cloudy-3:before {
  content: "\e976";
}

.iw-rain-1-f:before {
  content: "\e977";
}

.iw-rain-1:before {
  content: "\e978";
}

.iw-rain-and-snow-f:before {
  content: "\e979";
}

.iw-rain-and-snow:before {
  content: "\e97a";
}

.iw-rain-day-f:before {
  content: "\e97b";
}

.iw-rain-day:before {
  content: "\e97c";
}

.iw-rain-full-moon-f:before {
  content: "\e97d";
}

.iw-rain-full-moon:before {
  content: "\e97e";
}

.iw-rain-night-f:before {
  content: "\e97f";
}

.iw-rain-night:before {
  content: "\e980";
}

.iw-severe-thunderstorm-f:before {
  content: "\e981";
}

.iw-severe-thunderstorm:before {
  content: "\e982";
}

.iw-snow-day-1-f:before {
  content: "\e983";
}

.iw-snow-day-1:before {
  content: "\e984";
}

.iw-snow-day-2-f:before {
  content: "\e985";
}

.iw-snow-day-2:before {
  content: "\e986";
}

.iw-snow-day-3-f:before {
  content: "\e987";
}

.iw-snow-day-3:before {
  content: "\e988";
}

.iw-snow-f:before {
  content: "\e989";
}

.iw-snow-full-moon-1-f:before {
  content: "\e98a";
}

.iw-snow-full-moon-1:before {
  content: "\e98b";
}

.iw-snow-full-moon-2-f:before {
  content: "\e98c";
}

.iw-snow-full-moon-2:before {
  content: "\e98d";
}

.iw-snow-full-moon-3-f:before {
  content: "\e98e";
}

.iw-snow-full-moon-3:before {
  content: "\e98f";
}

.iw-snow-night-1-f:before {
  content: "\e990";
}

.iw-snow-night-1:before {
  content: "\e991";
}

.iw-snow-night-2-f:before {
  content: "\e992";
}

.iw-snow-night-2:before {
  content: "\e993";
}

.iw-snow-night-3-f:before {
  content: "\e994";
}

.iw-snow-night-3:before {
  content: "\e995";
}

.iw-snow:before {
  content: "\e996";
}

.iw-snowflake:before {
  content: "\e997";
}

.iw-sun-1-f:before {
  content: "\e998";
}

.iw-sun-1:before {
  content: "\e999";
}

.iw-sun-2-f:before {
  content: "\e99a";
}

.iw-sun-2:before {
  content: "\e99b";
}

.iw-sun-horizon-1-f:before {
  content: "\e99c";
}

.iw-sun-horizon-1:before {
  content: "\e99d";
}

.iw-sun-horizon-2-f:before {
  content: "\e99e";
}

.iw-sun-horizon-2:before {
  content: "\e99f";
}

.iw-sunrise-f:before {
  content: "\e9a0";
}

.iw-sunrise:before {
  content: "\e9a1";
}

.iw-sunset-f:before {
  content: "\e9a2";
}

.iw-sunset:before {
  content: "\e9a3";
}

.iw-thermometer-1-f:before {
  content: "\e9a4";
}

.iw-thermometer-1:before {
  content: "\e9a5";
}

.iw-thermometer-2-f:before {
  content: "\e9a6";
}

.iw-thermometer-2:before {
  content: "\e9a7";
}

.iw-thermometer-3-f:before {
  content: "\e9a8";
}

.iw-thermometer-3:before {
  content: "\e9a9";
}

.iw-thermometer-4-f:before {
  content: "\e9aa";
}

.iw-thermometer-4:before {
  content: "\e9ab";
}

.iw-thermometer-5-f:before {
  content: "\e9ac";
}

.iw-thermometer-5:before {
  content: "\e9ad";
}

.iw-thunderbolt-1-f:before {
  content: "\e9ae";
}

.iw-thunderbolt-1:before {
  content: "\e9af";
}

.iw-thunderbolt-2-f:before {
  content: "\e9b0";
}

.iw-thunderbolt-2:before {
  content: "\e9b1";
}

.iw-thunderstorm-day-1-f:before {
  content: "\e9b2";
}

.iw-thunderstorm-day-1:before {
  content: "\e9b3";
}

.iw-thunderstorm-day-2-f:before {
  content: "\e9b4";
}

.iw-thunderstorm-day-2:before {
  content: "\e9b5";
}

.iw-thunderstorm-f:before {
  content: "\e9b6";
}

.iw-thunderstorm-full-moon-1-f:before {
  content: "\e9b7";
}

.iw-thunderstorm-full-moon-1:before {
  content: "\e9b8";
}

.iw-thunderstorm-full-moon-2-f:before {
  content: "\e9b9";
}

.iw-thunderstorm-full-moon-2:before {
  content: "\e9ba";
}

.iw-thunderstorm-night-1-f:before {
  content: "\e9bb";
}

.iw-thunderstorm-night-1:before {
  content: "\e9bc";
}

.iw-thunderstorm-night-2-f:before {
  content: "\e9bd";
}

.iw-thunderstorm-night-2:before {
  content: "\e9be";
}

.iw-thunderstorm:before {
  content: "\e9bf";
}

.iw-tornado-1:before {
  content: "\e9c0";
}

.iw-tornado-2:before {
  content: "\e9c1";
}

.iw-umbrella-f:before {
  content: "\e9c2";
}

.iw-umbrella:before {
  content: "\e9c3";
}

.iw-wind-2:before {
  content: "\e9c4";
}

.iw-wind-cloud:before {
  content: "\e9c5";
}

.iw-wind-cone-f:before {
  content: "\e9c6";
}

.iw-wind-cone:before {
  content: "\e9c7";
}

.iw-wind-day:before {
  content: "\e9c8";
}

.iw-wind-full-moon:before {
  content: "\e9c9";
}

.iw-wind-moon:before {
  content: "\e9ca";
}

.iw-wind-night:before {
  content: "\e9cb";
}

.iw-wind-sun:before {
  content: "\e9cc";
}

.iw-wind-turbine-f:before {
  content: "\e9cd";
}

.iw-wind-turbine:before {
  content: "\e9ce";
}

.iw-wind:before {
  content: "\e9cf";
}


/* HELPER CLASS
 * -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
.iw-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.iw-2x {
  font-size: 2em;
}

.iw-3x {
  font-size: 3em;
}

.iw-4x {
  font-size: 4em;
}

.iw-5x {
  font-size: 5em;
}

.iw-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.iw-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

.iw-ul > li {
  position: relative;
}

.iw-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}

.iw-li.iw-lg {
  left: -1.8571428571428572em;
}

.iw-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.iw.pull-left {
  margin-right: .3em;
}

.iw.pull-right {
  margin-left: .3em;
}

.iw-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.iw-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iw-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.iw-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.iw-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.iw-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.iw-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.iw-stack-1x,
.iw-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.iw-stack-1x {
  line-height: inherit;
}

.iw-stack-2x {
  font-size: 2em;
}

.iw-inverse {
  color: #ffffff;
}

/* Custom classes / mods - PIXEDEN */
.iw-va {
  vertical-align: middle;
}

.iw-border {
  border: solid 0.08em #eaeaea;
}

.iw-fw-h {
  width: 1.2857142857142858em;
  text-align: center;
  display: inline-block;
}
