.user-list{
	.user-list_item{
		position: relative;
		margin-bottom: $form-group-margin-bottom;

		.user .user-image{
			padding-left: 0;
		}

		.user-list_delete{
			position: absolute;
	    top: 50%;
	    right: 0;
	    transform: translateY(-50%);
		}
	}
}
