<div>
        
    <a ng-click="createList()">Create new list</a>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="shoppingList in shoppingLists | orderBy : '-lastupdate'">
        
        <h4 class="list-group-item-heading">
          <input type="text" ng-model="shoppingList.name" ng-blur="saveList(shoppingList)"/> 
          <a ng-click="deleteList(shoppingList)">(delete)</a>
        </h4>

        <div class="list-group-item-text">

          <form ng-submit="addItem(shoppingList, forms['list' + $index])" name="forms.list{{$index}}" novalidate>

            <div class="row">

              <div class="form-group col-md-4">
                <label>Category</label>
                <input class="form-control" ng-model="shoppingList.newItem.category" name="category" type="text" required/>

                <div ng-messages="forms['list' + $index].category.$error" ng-if="shoppingList.submitted">
                  <div ng-message="required">This is required.</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label>Price</label>
                <input class="form-control" ng-model="shoppingList.newItem.price" name="price" type="number" step="any" required/>

                <div ng-messages="forms['list' + $index].price.$error" ng-if="shoppingList.submitted">
                  <div ng-message="required">This is required.</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label>Date</label>
                <input class="form-control" 
                       ng-model="shoppingList.newItem.date" 
                       name="date" 
                       type="date" 
                       uib-datepicker-popup="" 
                       is-open="status.opened" 
                       required/>

                <div ng-messages="forms['list' + $index].date.$error" ng-if="shoppingList.submitted">
                  <div ng-message="required">This is required.</div>
                </div>
              </div>

            </div>

            <button type="submit" class="btn btn-default btn-primary btn-block">Submit</button>
          </form>

          <ul>

            <li ng-repeat="item in shoppingList.list">
              {{item.category}} - {{item.price | currency : "‎€" : 2}} - {{item.date | date:"dd/MM/yyyy"}}
              <a ng-click="deleteItem(shoppingList, $index)">(delete item)</a>
            </li>

          </ul>

        </div>

      </li>
    </div>

</div>