<div class="widget-body-top-button">
  <a class="btn btn-block btn-primary" ng-click="vm.createList()">Add List</a>
</div>

<ul class="list" ng-repeat="shoppingList in vm.shoppingLists | orderBy : '-lastupdate'">

  <li class="list_item active">
    <div class="list_item_btn">
      <a class="btn btn-secondary" ng-click="vm.deleteList(shoppingList)">
        <o class="fa fa-trash-o"></o>
      </a>
    </div>

    <div class="list_item_data">
      <input type="text" class="form-control" ng-model="shoppingList.name" ng-blur="vm.saveList(shoppingList)" placeholder="Name"/>
    </div>
  </li>

  <li class="list_item">
    <div class="list_item_btn">
      <a class="btn btn-link-light">
        <i class="fa fa-file-o"></i>
      </a>
    </div>

    <div class="list_item_data">
      <form ng-submit="vm.addItem(shoppingList, forms['list' + $index])" name="forms.list{{$index}}" novalidate>
        <input class="form-control" placeholder="Item name" ng-model="shoppingList.item.name" name="item" type="text" required/>
      </form>
    </div>
  </li>

  <li class="list_item" ng-repeat="item in shoppingList.list" ng-class="{'disabled' : item.archivied}">
    <div class="list_item_btn">
      <a class="btn btn-link-light" ng-click="vm.archiveItem(shoppingList, $index)">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>

    <div class="list_item_data">
      {{item.name}}
    </div>
  </li>

</ul>
