<div href="#" class="add-widget">


<!--     <select class="form-controll" ng-model="widgetToAdd"  ng-change="addWidget()">
      <option value="">Aggiungi widget</option>
    </select> -->
    <h5 class="text-center">Add widget</h5>

    <ul class="list-unstyled row">
      <li class="col-md-3" ng-repeat="availablewidget in availablewidgets">
        <a class="add-widget_item" ng-click="addWidget(availablewidget)">
          <i class="add-widget_icon {{availablewidget.icon}}"></i>
          <small class="add-widget_title">{{availablewidget.name}}</small>
        </a>
      </li>
    </ul>
</div>