<div dnd-list="item.model.children"
     dnd-drop="add(event, index, item, external, type, 'containerType')"
     ng-class="{ 'editable' : editMode.enabled }"
     ng-if="item.model.children"
     class="row">

    <div class="col-md-12" ng-show="item.model.children == 0 && editMode.enabled" ng-if="item.model.children == 0">
      <alert type="warning">Drag &amp; drop here an item</alert>
    </div>

    <item class="container-simple_child col-md-{{child.attributes.dimension}}"
          dnd-draggable="child"
          dnd-moved="remove(child)"
          model="child"
          ng-repeat="child in item.model.children" ></item>

</div>
