<div dnd-list="item.model.children"
     ng-class="{ 'editable' : editMode.enabled }"
     ng-if="item.model.children"
     class="row wrapper"
     dnd-inserted="added(event, index, item)">

    <div class="col-md-12 dndPlaceholder wrapper-placeholder"></div>

    <item class="wrapper-column col-md-{{child.attributes.dimension}}"
          dnd-draggable="child"
          dnd-moved="removed(event, child, $index)"
          model="child"
          ng-repeat="child in item.model.children" ></item>

</div>
