<div dnd-list="item.model.children"
     dnd-inserted="inserted(event, index, item, item.model)"
     ng-class="{ 'editable' : editMode.enabled }"
     ng-if="item.model.children"
     class="row wrapper">

    <div class="col-md-12 dndPlaceholder wrapper-placeholder"></div>

    <item class="wrapper-child col-md-{{child.attributes.dimension}}"
          dnd-draggable="child"
          dnd-moved="remove(event, index, child, item.model)"
          model="child"
          ng-repeat="child in item.model.children" ></item>

</div>
