.widget-forecast{

  .widget-forecast__header{
    margin:0;
    padding-top: $grid-gutter-width / 2;
  }

  .widget-forecast__big_icon{
    font-size: 53px;
  }

  hgroup{
    text-align: right;

    h1{
      margin: 0;
      margin-bottom: 2px;
    }
    h5{
      margin: 0;
    }
  }
}
