<div class="widget-body-top-button">
  <button class="btn btn-primary btn-block" ng-click="openAdd = !openAdd">Add Stock</button>
  <button class="btn btn-secondary" ng-click="vm.get()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<form ng-submit="vm.add(form)" name="form" novalidate ng-if="openAdd">

  <div class="form-group" ng-class="{'has-error has-feedback' : vm.submitted && form.symbol.$error}">
    <label class="control-label">Stock symbol</label>
    <input type="text" class="form-control" name="symbol" ng-model="vm.stock.symbol" required>

    <div ng-messages="form.symbol.$error" ng-if="vm.submitted" class="help-block">
      <div ng-message="required">This is required.</div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-block btn-primary" type="submit">Add</button>
  </div>

</form>

<ul class="stock-list">
  <li class="stock-list_item stock" ng-repeat="stock in vm.stocks" ng-init="open = false">

    <span class="stock_btn">
      <a class="btn btn-link-light" ng-click="vm.remove(stock)">
        <i class="fa fa-trash-o"></i>
      </a>
      <a class="btn btn-link-light" ng-click="open = !open">
        <i class="fa fa-ellipsis-v"></i>
      </a>
    </span>

    <div class="row">
      <hgroup class="col-md-5 stock_data">
        <h4>{{stock.data.name | lowercase}}</h4>
        <div>{{stock.symbol}}</h5>
      </hgroup>

      <div class="col-md-2 stock_variation">
        <h4><value ng-model="stock.data.change" filter="currency"/></h4>
        <div><value ng-model="stock.data.changeInPercent" filter="percentage"/></div>
      </div>

      <div class="col-md-5 stock_price">
        <value ng-model="stock.data.bid" filter="currency" is-positive="stock.data.change > 0"/>
      </div>
    </div>


    <div class="stock_details" ng-if="open">
      <dl class="dl-horizontal">
        <dt>Last Trade Date</dt>
        <dd>{{stock.data.lastTradeDate | date}}</dd>

        <dt>Days low</dt>
        <dd>{{stock.data.daysLow | currency}}</dd>

        <dt>Days high</dt>
        <dd>{{stock.data.daysHigh | currency}}</dd>

        <dt>Daily volume</dt>
        <dd>{{stock.data.volume | number}} ({{stock.data.averageDailyVolume | number}})</dd>
      </dl>
    </div>


  </li>
</ul>
