<div ng-show="!error">
  <div class="widget-body-top-button">
    <button class="btn btn-primary btn-block" ng-init="openAdd = false;" ng-click="openAdd = !openAdd">Add Stock</button>
    <button class="btn btn-secondary" ng-click="get()" icon="fa fa-refresh"></button>
  </div>

  <ul class="list" ng-show="openAdd">
    <li class="list_item active">
      <div class="list_item_btn">
        <a class="btn btn-secondary" icon="fa fa-file-o"></a>
      </div>

      <div class="list_item_data">
        <form ng-submit="create(form)" name="form" novalidate ng-show="openAdd" ng-init="newStock = {}">
          <div class="form-group">
            <input type="text" placeholder="Stock symbol" class="form-control" name="symbol"  ng-model="newStock.symbol" required>
          </div>
        </form>
      </div>
    </li>
  </ul>

  <ul class="list" >

    <li class="list-empty" ng-if="stocks.length == 0">
      No stocks available
    </li>

    <li class="list_item active" ng-repeat-start="stock in stocks">
      <div class="list_item_btn">
        <a class="btn btn-secondary" ng-click="remove(stock)" icon="fa fa-trash-o"></a>
      </div>

      <div class="list_item_data">
        <div class="row">
          <div class="col-md-6">{{stock.data.name | capitalize}} ({{stock.symbol}})</div>

          <div class="col-md-2 text-right">
            <value-indicator value="stock.data.change" filter="currency"></value-indicator>
          </div>

          <div class="col-md-2 text-right">
            <value-indicator value="stock.data.changeInPercent" filter="percentage"></value-indicator>
          </div>

          <div class="col-md-2 text-right">
            {{stock.data.bid | currency}}
          </div>
        </div>
      </div>
    </li>

    <li class="list_item extra" ng-if="stock.data" ng-repeat-end>

      <div class="row">

        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Daily volume</dt>
            <dd>{{stock.data.volume | number}} ({{stock.data.averageDailyVolume | number}})</dd>

            <dt>Last trade</dt>
            <dd>{{stock.data.lastTradeTime | date:medium}}</dd>
          </dl>
        </div>

        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Days low</dt>
            <dd>{{stock.data.daysLow | currency}}</dd>

            <dt>Days high</dt>
            <dd>{{stock.data.daysHigh | currency}}</dd>
          </dl>
        </div>

      </div>

    </li>

  </ul>
</div>

<alert type="danger" ng-show="error">
  <p>{{error.message}}</p>
</alert>
