<div class="col-md-4 col-md-offset-4">

  <h3>Login</h3>

  <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

    <p class="text-danger" ng-if="vm.errors.other">{{vm.errors.other}}</p>

    <div class="form-group" ng-class="{'has-error' : form.$submitted && form.email.$error}">
      <label class="control-label">Email</label>
      <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>

      <div ng-messages="form.email.$error" ng-if="form.$submitted" class="help-block">
        <div ng-message="required">This is required.</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : form.$submitted && form.password.$error}">
      <label class="control-label">Password</label>
      <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>

      <div ng-messages="form.password.$error" ng-if="form.$submitted" class="help-block">
        <div ng-message="required">This is required.</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Login</button>
      <a class="btn btn-block btn-secondary btn-small" href="/signup">Register</a>
    </div>

    <oauth-buttons/>

  </form>


</div>
