<div class="add-child" ng-if="editMode.enabled">

  <uib-tabset type="tabs">

    <uib-tab index="0" heading="{{key}}" ng-repeat="(key, children) in availablechildren">
      <ul class="list-inline" html-sortable="sortableOption" ng-model="children"  ng-if="children.length">
        <li ng-repeat="child in children">
          <a class="btn add-child-item" ng-init="child.__t = key" ng-click="addChild(child, key)"  >
            <i class="fa-fw {{child.icon}}"></i>
            <div class="small">{{child.name}}</div>
          </a>
        </li>
      </ul>

    </uib-tab>

  </uib-tabset>


</div>
