$widget-background : #fff;

.widget{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  position: relative;

  .widget__header{
    background-color: $widget-background;
    padding: $padding-base-vertical $padding-base-horizontal;

    h4{
      margin: 0;
      color:#000;
    }

    .widget__actions{
      position:absolute;
      right:0;
      top:0;
    }
  }

  .widget__body{
    background: $semi-transparent-bg-light;
    position: relative;

    .widget__settings{
      padding: $padding-base-vertical $padding-base-horizontal;
      display:block;
    }
  }

  .widget__footer{
    background-color: $widget-background;
    padding: $padding-base-vertical $padding-base-horizontal;

    &:after{
      height: 1px;
      background-color: $brand-primary;
      content: '';
    }
  }

  .form-control{
    border-width: 0;
    border-bottom-width: 1px;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
    padding-right: 0;
    color:$text-color;
    @include placeholder-color(darken($input-color, 0%));
  }

  .input-group-addon{
    border-width: 0;
    border-bottom-width: 1px;
    background: transparent;
    padding-left: 0;
    border-radius: 0;
  }

}
