<div class="widget-header">
    <h4>
      {{item.model.attributes.name}} &nbsp;
      <div class="widget-header-buttons">
        <a class="btn btn-link btn-sm" icon="fa fa-cog"   ng-click="item.toggleSettings()"> </a>
        <a class="btn btn-link btn-sm" icon="fa fa-times" ng-click="item.remove()" ></a>
      </div>
  </h4>
</div>

<div class="widget-body" ng-show="!item.isSettingsOpen && !item.isItemLoading" ng-transclude=""></div>

<form name="form"
      class="widget-settings"
      ng-if="item.isSettingsOpen"
      sf-schema="item.schema"
      sf-form="item.formcontrols"
      sf-model="item.model"
      ng-submit="item.saveSettings(form)">
</form>

<spinner is-loading="item.isItemLoading">

<div class="widget-footer"></div>
