$widget-background : #fff;

.widget{
  margin-top: $item-margin;

  &.over{
    opacity: 0.4;
  }

  .widget-header{
    background-color: $widget-background;
    padding: $padding-base-vertical $padding-base-horizontal;

    h4{
      margin: 0;
      color:#000;
    }

    .widget-header-buttons{
      float: right;
      margin-top: -$padding-large-vertical / 2;
      margin-right: -$padding-large-horizontal / 2;
    }
  }

  .widget-body{
    position: relative;

    .widget-body-top-button{
      margin-left: -$padding-base-horizontal;
      margin-right: -$padding-base-horizontal;
      margin-top: -$padding-base-vertical;
    }
  }

  .widget-loading,
  .widget-body,
  .widget-settings{
    background: $semi-transparent-bg;
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .widget-footer{
    background-color: $widget-background;
    padding: $padding-base-vertical $padding-base-horizontal;

    &:after{
      height: 1px;
      background-color: $brand-primary;
      content: '';
    }
  }

  .form-control{
    border-width: 0;
    border-bottom-width: 1px;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
    padding-right: 0;
    color:$text-color;
    @include placeholder-color(darken($input-color, 0%));
  }

  .input-group-addon{
    border-width: 0;
    border-bottom-width: 1px;
    background: transparent;
    padding-left: 0;
    border-radius: 0;
  }

  .alert{
    margin: (-$padding-base-vertical) (-$padding-base-horizontal);
  }
}
