<div class="widget widget-{{data.type}} col-md-{{data.dimension}}" ng-class="{'loading' : isWidgetLoading}">

  <div class="widget-header">
      <h4>
        {{data.name}} &nbsp;
        <div class="widget-header-buttons">
          <a ng-click="toggleSettings()" class="btn btn-link btn-sm" icon="fa fa-cog"></a>
          <a ng-click="remove()" class="btn btn-link btn-sm" icon="fa fa-times"></a>
        </div>
    </h4>
  </div>

  <div class="widget-body clearfix" ng-show="!isSettingsOpen"></div>

  <div class="widget-settings clearfix" ng-if="isSettingsOpen">
    <form name="form"
          sf-schema="schema"
          sf-form="formcontrols"
          sf-model="conf"
          ng-submit="update(form)">
    </form>
  </div>

  <div class="widget-footer"></div>

</div>
