<div class="widget col-md-{{$ctrl.widget.dimension}}" ng-class="{'loading' : $ctrl.isWidgetLoading}">

  <div class="widget-header">
      <h4>
        {{$ctrl.widget.name}} &nbsp;
        <div class="widget-header-buttons">
          <a class="btn btn-link btn-sm" icon="fa fa-cog"   ng-click="$ctrl.toggleSettings()"> </a>
          <a class="btn btn-link btn-sm" icon="fa fa-times" ng-click="remove()" ></a>
        </div>
    </h4>
  </div>

  <div class="widget-body clearfix" ng-show="!$ctrl.isSettingsOpen"></div>

  <form name="form"
        class="widget-settings clearfix"
        ng-if="$ctrl.isSettingsOpen"
        sf-schema="$ctrl.schema"
        sf-form="$ctrl.formcontrols"
        sf-model="$ctrl.widget"
        ng-submit="update(form)">
  </form>

  <div class="widget-footer"></div>

</div>
