<div class="widget-body-top-button">
  <a ng-click="smoke()" class="btn btn-primary btn-block" icon="">Smoke</a>
</div>

<div class="text-center">
  <h5>Today smoked</h5>

  <h1 ng-class="{'text-danger' : cigarettes.days[0].count > item.model.settings.threshold}">{{cigarettes.days[0].count || 0}}</h1>
</div>

<hr ng-if="cigarettes.days[0].length"/>

<ul class="list">
  <li class="list_item" ng-repeat="day in cigarettes.days" ng-if="$index != 0">
    <div class="list_item_data">
      <div class="row">
        <div class="col-md-9">{{day.date | date: dateFormat.date}}</div>
        <div class="col-md-3 text-right">
          <strong>{{day.count}}</strong>
        </div>
      </div>
    </div>
  </li>
</ul>
