.user{
  @extend .clearfix;

  .user-name{
    display: inline-block;
    position: relative;
    top: 13px;
    margin-left: 3px;

    h5{
      margin:0;
    }

    h6{
      color:$text-muted;
      margin:0;
    }
  }

  .user-image{
    display: block;
    padding: 5px;
    text-align: center;
    float: left;

    .user-image-element{
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: $gray-lighter;
      color: $text-muted;
      border:2px solid $brand-primary;
    }
  }
}
