.navbar{
  border:0;

  .navbar-brand{
    margin-left:0!important;
    padding:0;
  }

  .navbar-nav{
    margin-right: 0!important;

    a {
      text-align: center;
      padding-bottom: 6px;
      padding-top: 6px;

      small{
        display: block;
        margin-top: -2px;
        color: #000;
        font-weight: 400;
      }
    }
  }
}
