<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">

    <div class="navbar-header">

      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <img ng-src="http://graph.facebook.com/{{getCurrentUser().facebook.id}}/picture?type=large" />
        <div class="navbar-brand-user">
          <h5>{{getCurrentUser().facebook.name}}</h5>
          <h6>{{getCurrentUser().email}}</h6>
        </div>
      </div>

    </div>

    <nav uib-collapse="isCollapsed" class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
          <a href="/signup">
            <i class="fa fa-user-plus"></i>
            <small>Sign up</small>
          </a>
        </li>
        
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
          <a href="/login">
            <i class="fa fa-sign-in"></i>
            <small>Login</small>
          </a>
        </li>
        
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/connect')}">
          <a href="/connect">
            <i class="fa fa-link"></i>
            <small>Connect</small>
          </a>
        </li>

        
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
          <a href="/settings">
            <i class="glyphicon glyphicon-cog"></i>
            <small>Settings</small>
          </a>
        </li>
        
        <li ng-show="isLoggedIn()">
          <a href="/logout">
            <i class="fa fa-sign-out"></i>
            <small>Logout</small>
          </a>
        </li>
        
      </ul>
    </nav>

  </div>
</div>
