<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController" ng-if="nav.isLoggedIn()">
  <div class="container-fluid">

    <div class="navbar-header">

      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <user data="nav.getCurrentUser()" ng-if="nav.isLoggedIn()"/>
      </div>

    </div>

    <nav uib-collapse="nav.isCollapsed" class="navbar-collapse">

      <ul class="navbar-right nav navbar-nav">

        <li ng-repeat="item in nav.menu" ui-sref-active="active" ng-show="item.show()">
            <a ui-sref="{{item.state}}">
              <i class="{{item.icon}}"></i>
              <small>{{item.title}}</small>
            </a>
        </li>

        <li>
          <a edit-mode icon="fa fa-pencil">
            <small>Edit</small>
          </a
        </li>

      </ul>

      <navigation class="navbar-right"/>

    </nav>

  </div>
</div>
