.widget-portfolio{

  .widget-body-top-button{
    .btn{
      &:first-child{
        padding-right: 40px;
      }
      &:last-child{
        position: absolute;
        right:0;
        top:0;
      }
    }
  }

  .widget-body{
    padding-bottom: 0;
  }
}
