<div ng-show="!error">
  <div class="widget-body-top-button">
    <a class="btn btn-block btn-primary" ng-click="create()">Add Portfolio</a>
    <a class="btn btn-secondary" icon="fa fa-refresh" ng-click="get()"></a>
  </div>

  <ul class="list" ng-repeat="portfolio in portfolios">

    <li class="list_item active">
      <div class="list_item_btn">
        <a class="btn btn-secondary" ng-click="remove(portfolio)" icon="fa fa-trash"></a>
      </div>

      <div class="list_item_data">
        <input type="text" class="form-control" ng-model="portfolio.name" ng-blur="update(portfolio)" placeholder="Symbol"/>
      </div>
    </li>

    <li class="list_item header">
      <div class="list_item_btn">
        <a class="btn btn-link-light" icon="fa fa-file-o" ng-click="portfolio.addNew = true;"></a>
      </div>
      <div class="list_item_data">
          <div class="row">
            <div class="col-md-1">Symbol</div>
            <div class="col-md-1">Tx date</div>
            <div class="col-md-1">Type</div>
            <div class="col-md-1">Quantity</div>
            <div class="col-md-1">Tx cost</div>
            <div class="col-md-1">Buy Price</div>
            <div class="col-md-1">Sell Price</div>
            <div class="col-md-1">Mkt Price</div>
            <div class="col-md-2 text-right">Market Value</div>
            <div class="col-md-2 text-right">Return</div>
          </div>
      </div>
    </li>

    <li class="list_item" ng-show="portfolio.addNew">
      <div class="list_item_btn">
        <a class="btn btn-link-light" icon="fa fa-times" ng-click="portfolio.addNew = false;"></a>
      </div>

      <div class="list_item_data">
        <form ng-submit="addTransaction(portfolio, forms['form' + $index])" name="forms.form{{$index}}" novalidate>
          <div class="row">

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].symbol.$error}">
              <input class="form-control" placeholder="Symbol" ng-model="portfolio.newTransaction.symbol" name="symbol" type="text" required/>
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].date.$error}">
              <input type="text" placeholder="Tx date" class="form-control" uib-datepicker-popup ng-model="portfolio.newTransaction.date" is-open="open" ng-focus="open = true" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].operation.$error}">
              <select class="form-control" placeholder="Type" ng-model="portfolio.newTransaction.operation" name="type" ng-options="operation.id as operation.label for operation in operations" required>
                <option value="">Type</option>
              </select>
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].quantity.$error}">
              <input class="form-control" placeholder="Quantity" ng-model="portfolio.newTransaction.quantity" name="quantity" type="number" max="portfolio.newTransaction.quantitymax" required/>
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].txcost.$error}">
              <input class="form-control" placeholder="Tx cost" ng-model="portfolio.newTransaction.txcost" name="txcost" type="number" required/>
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].buyprice.$error}">
              <input ng-show="portfolio.newTransaction.operation == 'buy'" class="form-control" placeholder="Buy price" ng-model="portfolio.newTransaction.buyprice" name="buyprice" type="number"/>
            </div>

            <div class="col-md-1" ng-class="{'has-error' : forms.form{{$index}}.submitted && forms['form' + $index].sellprice.$error}">
              <input ng-show="portfolio.newTransaction.operation == 'sell'" class="form-control" placeholder="Sell price" ng-model="portfolio.newTransaction.sellprice" name="sellprice" type="number" />
            </div>

            <div class="col-md-1">
              <!-- Mkt Price -->
            </div>

            <div class="col-md-2 text-right">
              <!-- Market Value -->
            </div>

            <div class="col-md-2 text-right">
              <!-- Return -->
            </div>

          </div>
          <input type="submit" class="hidden"/>
        </form>
      </div>
    </li>

    <li class="list_item" ng-repeat="transaction in portfolio.transactions"  ng-class="{'disabled' : transaction.status == 'close'}">
      <!-- <pre>{{transaction | json}}</pre> -->
      <div class="list_item_btn">
        <ul class="sub-menu-btn">
          <li>
            <a class="btn" icon="fa fa-pencil" ng-click="updateTransaction(portfolio, transaction)">Edit transaction</a>
          </li>
          <li>
            <a class="btn" icon="fa fa-trash" ng-click="removeTransaction(portfolio, transaction)">Delete transaction</a>
          </li>
          <li>
            <a class="btn" icon="fa fa-chevron-right" ng-click="splitTransaction(portfolio, transaction)">Sell stock</a>
          </li>
          <li>
            <a class="btn" icon="fa fa-money" ng-click="addDividend(portfolio, transaction)">Add dividend stock</a>
          </li>
        </ul>
      </div>

      <div class="list_item_data">
        <div class="row">
          <div class="col-md-1">
            {{transaction.symbol}}
          </div>
          <div class="col-md-1">
            {{transaction.date | date}}
          </div>
          <div class="col-md-1">
            {{transaction.operation | operation:operations}}
          </div>
          <div class="col-md-1">
            {{transaction.quantity}}
          </div>
          <div class="col-md-1">
            {{transaction.txcost | currency}}
          </div>
          <div class="col-md-1">
            {{transaction.buyprice | currency}}
          </div>
          <div class="col-md-1">
            {{transaction.sellprice | currency}}
          </div>
          <div class="col-md-1">
            {{transaction.marketprice | currency}}
          </div>
          <div class="col-md-2 text-right">
            {{transaction.total | currency}}
          </div>
          <div class="col-md-2 text-right">
            <span val="transaction.delta" filter="currency"></span>
          </div>
        </div>
      </div>
    </li>

    <li class="list_item extra">
      <dl class="dl-horizontal">
        <!-- <dt>Portfolio market value</dt>
        <dd ng-bind="portfolio.recap.total | currency"></dd> -->

        <dt>Portfolio overral return</dt>
        <dd val="portfolio.recap.overralreturn" filter="currency"></dd>

        <dt>Portfolio transactions cost</dt>
        <dd>{{portfolio.recap.txcost | currency}}</dd>

        <dt>Portfolio taxes</dt>
        <dd ng-init="portfolio.tax = ((portfolio.recap.overralreturn - portfolio.recap.txcost) / 100 * item.model.configuration.taxation)">{{portfolio.tax | currency}}</dd>

        <dt>Portfolio NET overral return<dt>
        <dd val="(portfolio.recap.overralreturn - portfolio.tax)" filter="currency"></dd>
      </dl>
    </li>

  </ul>
</div>

<alert type="danger" ng-show="error">
  <p>{{error.message}}</p>
</alert>
