.sub-menu-btn{

  .sub-menu-btn_toggle{
    display: block;
  }

}


.sub-menu-btn_dropdown{
  .btn{
    text-align: left;
    padding: $padding-base-vertical $padding-base-horizontal;

    i{
      margin-right: 10px;
    }
  }
}
