.add-child{
}


.btn-add-child{
  @include button-variant(#fff, $semi-transparent-bg, $semi-transparent-bg);
  margin-bottom: $grid-gutter-width;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  small{
    display: block;
    position: absolute;
    bottom: 8px;

    left: 0;
    right: 0;
  }
}
