<span class="add-child">

  <a class="btn btn-link-light btn-sm" icon="fa fa-plus" ng-click="open()"></a>

  <script type="text/ng-template" id="add-child-modal.html">
    <div class="modal-body">
      <div ng-repeat="(key, children) in availablechildren" class="nav">
        <h3 class="text-center">{{key}}</h3>
        <div class="row">
          <div class="col-md-2 text-center" ng-repeat="child in children">

            <a class="btn btn-add-child" ng-click="addChild(child, key)" >
              <i class="fa-fw fa-3x {{child.icon}}"></i>
              <small>{{child.name}}</small>
            </a>

          </div>
        </div>
      </div>
    </div>
  </script>

</span>
