<div class="container-fluid">

  <!-- <pre>{{item | json}}</pre> -->

  <!-- <div class="app-container-header-buttons text-right">
    <a class="btn btn-link-light btn-sm" icon="fa fa-cog"   ng-click="toggleSettings()"> </a>
    <a class="btn btn-link-light btn-sm" icon="fa fa-times" ng-click="remove()" ></a>
  </div> -->

  <div html-sortable="sortableOption"
       ng-model="item.model.children"
       ng-if="item.model.children"
       ng-class="{ 'editable' : editMode.enabled }"
       class="row app-container" >

    <div  class="app-container-child col-md-12" ng-show="item.model.children == 0 && editMode.enabled" ng-if="item.model.children == 0">
      <alert type="warning">Drag &amp; drop here an item</alert>
    </div>

    <item class="app-container-child col-md-{{child.attributes.dimension}}" model="child" ng-repeat="child in item.model.children"></item>

  </div>

  <form ng-if="isSettingsOpen"
        name="form"
        class="widget-settings clearfix"
        sf-schema="schema"
        sf-form="formcontrols"
        sf-model="container"
        ng-submit="save(form)">
  </form>

</div>
