.wrapper{
  min-height:  $item-margin * 2;
  padding-bottom: $item-margin;

  .wrapper-child{
  }

  .wrapper-placeholder:after{
    margin-top: $item-margin;
    content: '';
    width: 100%;
    display: block;
    border-top: 2px dashed $semi-transparent-bg-light;
  }
}
