<div class="widget-body-top-button">
  <a class="btn btn-block btn-primary" ng-click="create()">Add List</a>
</div>

<ul class="list" ng-repeat="todoList in todoLists | orderBy : '-lastupdate'">

  <li class="list_item active">
    <div class="list_item_btn">
      <a class="btn btn-secondary" ng-click="delete(todoList)" icon="fa fa-trash-o"></a>
    </div>

    <div class="list_item_data">
      <input type="text" class="form-control" ng-model="todoList.name" ng-blur="update(todoList)" placeholder="Name"/>
    </div>
  </li>

  <li class="list_item">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-file-o"></a>
    </div>

    <div class="list_item_data">
      <form ng-submit="createItem(todoList, forms['list' + $index])" name="forms.list{{$index}}" novalidate>
        <input class="form-control" placeholder="Item name" ng-model="todoList.newItem.name" name="item" type="text" required/>
      </form>
    </div>
  </li>

  <li class="list_item" ng-repeat="item in todoList.list">
    <div class="list_item_btn">
      <a class="btn btn-link-light" ng-click="deleteItem(todoList, item)" icon="fa fa-trash-o"  ></a>
    </div>

    <div class="list_item_data">
      {{item.name}}
    </div>
  </li>

</ul>
