<ul class="list">

  <li class="list_item header">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-file-o" ng-click="addNew = true;"></a>
    </div>
    <div class="list_item_data">
      <div class="row">
        <div class="col-md-3">Date</div>
        <div class="col-md-3 text-right">Current account</div>
        <div class="col-md-3 text-right">Saving account</div>
        <div class="col-md-3 text-right">Total</div>
      </div>
    </div>
  </li>

  <li class="list_item" ng-show="addNew">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-times" ng-click="addNew = false;"></a>
    </div>

    <div class="list_item_data">
      <form ng-submit="addReport(form)" name="form" novalidate>
        <div class="row">
          <div class="col-md-3 form-group">
            <input type="text" placeholder="Date" class="form-control" uib-datepicker-popup ng-model="newReport.date" is-open="open" ng-focus="open = true" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          </div>
          <div class="col-md-3 form-group">
            <input class="form-control text-right" placeholder="Current Account" ng-model="newReport.current" name="current" type="number" required/>
          </div>
          <div class="col-md-3 form-group">
            <input class="form-control text-right" placeholder="Saving Account" ng-model="newReport.saving" name="saving" type="number" required/>
          </div>
        </div>
        <input type="submit" class="hidden" />
      </form>
    </div>
  </li>

  <li class="list_item" ng-repeat="report in balance.reports | orderBy:'date'">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-trash" ng-click="removeReport(balance, report)"></a>
    </div>
    <div class="list_item_data">
      <div class="row">
        <div class="col-md-3">{{report.date | date:formats.date}}</div>
        <div class="col-md-3 text-right">{{report.current | currency}}</div>
        <div class="col-md-3 text-right">{{report.saving | currency}}</div>
        <div class="col-md-3 text-right" title="{{report.total - balance.reports[$index-1].total | currency}}">
          {{report.total | currency}}
        </div>
      </div>
    </div>
  </li>

  <li class="list_item extra" ng-if="balance.reports.length">
    <c3chart bindto-id="balance" chart-x="x" show-labels="false" chart-columns="columns" chart-data="balance.reports" padding-top="20" >
      <chart-size chart-height="200" />
      <chart-legend show-legend="false" />
      <chart-tooltip show-tooltip="true" />
      <chart-colors color-function="colors" />
      <chart-points point-radius="2" />
      <chart-axis>
        <chart-axis-x axis-type="timeseries" />
        <chart-axis-y axis-type="number" axis-min="{{min}}" />
        <chart-axis-x-tick tick-format-function="formatDate" />
        <chart-axis-y-tick tick-format-function="formatTotal" />
      </chart-axis>
    </c3chart>
  </li>
</ul>
