<ul class="list" >

  <li class="list_item header">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-file-o" ng-click="addNew = true;"></a>
    </div>
    <div class="list_item_data">
      <div class="row">
          <div class="col-md-3">Date</div>
          <div class="col-md-3">Current account</div>
          <div class="col-md-3">Saving account</div>
          <div class="col-md-3 text-right">Total</div>
      </div>
    </div>
  </li>

  <li class="list_item" ng-show="addNew">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-times" ng-click="addNew = false;"></a>
    </div>

    <div class="list_item_data">
      <form ng-submit="addReport(form)" name="form" novalidate>
        <div class="row">
          <div class="col-md-3 form-group">
            <input type="text" placeholder="Date" class="form-control" uib-datepicker-popup ng-model="newReport.date" is-open="open" ng-focus="open = true" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          </div>
          <div class="col-md-3 form-group">
            <input class="form-control" placeholder="Current Account" ng-model="newReport.current" name="current" type="number" required/>
          </div>
          <div class="col-md-3 form-group">
            <input class="form-control" placeholder="Saving Account" ng-model="newReport.saving" name="saving" type="number" required/>
          </div>
        </div>
        <input type="submit" class="hidden"/>
      </form>
    </div>
  </li>

  <li class="list_item" ng-repeat="report in balance.reports">
    <div class="list_item_btn">
      <a class="btn btn-link-light" icon="fa fa-trash" ng-click="removeReport(balance, report)"></a>
    </div>
    <div class="list_item_data">
      <div class="row">
          <div class="col-md-3">{{report.date | date}}</div>
          <div class="col-md-3">{{report.current | currency}}</div>
          <div class="col-md-3">{{report.saving | currency}}</div>
          <div class="col-md-3 text-right"
               ng-init="report.total = (report.saving + report.current)"
               title="{{report.total - balance.reports[$index-1].total | currency}}">
            {{report.total | currency}}
          </div>
      </div>
    </div>
  </li>

  <li class="list_item extra">
    <canvas class="chart chart-line"
            chart-data="[balance.chart.data]"
            chart-labels="balance.chart.labels"
            chart-options="chartConfiguration.options"
            chart-colours="chartConfiguration.colours"
            ng-if="balance.reports.length">
    </canvas>
  </li>

</ul>
