<div html-sortable="sortableOption"
     ng-model="item.model.children"
     ng-class="{ 'editable' : editMode.enabled }"
     ng-if="item.model.children"
     class="row"
     ng-extra-sortable="item.model">

    <div class="col-md-12" ng-show="item.model.children == 0 && editMode.enabled" ng-if="item.model.children == 0">
      <alert type="warning">Drag &amp; drop here an item</alert>
    </div>

    <item class="container-base_child col-md-{{child.attributes.dimension}}" model="child" ng-repeat="child in item.model.children" ></item>

</div>
