.spinner{
  position: relative;
  height: 64px;
  width: 64px;
  border: 4px solid transparent;
  border-top-color: $brand-primary;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 50px auto;

  &:before, &:after{
    content:'';
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
  }

  &:before{
    border-top-color: $brand-secondary;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
  }

  &:after{
    border-top-color: #fff;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} 

//
// $base-line-height: 24px;
// $white: rgb(255,255,255);
//
// @keyframes spinner {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
//
//
// .loading {
//     border-radius: 50%;
//     width: $base-line-height;
//     height: $base-line-height;
//     border: .25rem solid rgba($white, 0.2);
//     border-top-color: $white;
//     animation: spinner 1s infinite linear;
//   &--double {
//     border-style: double;
//     border-width: .5rem;
//   }
//   &--ease {
//     animation-timing-function: ease;
//   }
// }
